In [36]:
import pandas as pd
import geopandas as gp
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [37]:
df=pd.read_csv("USA presidential trips.csv", parse_dates=["Date start", "Date end"])

In [38]:
df.shape

(82, 10)

In [39]:
df.head()

,Country of president,President,Location country,Location city,Date start,Date end,Subject,President popularity,US favourability,Unnamed: 9
0,USA,W. BUSH,Mexico,San Cristobal,2001-02-16,2001-02-16,Meeting with President Fox.,-,68,NaN
1,USA,W. BUSH,Spain,Madrid,2001-12-06,2001-06-13,Met with King Juan Carlos I and President Aznar.,-,50,NaN
2,USA,W. BUSH,Poland,Warsaw,2001-06-15,2001-06-16,State visit.,-,86,NaN
3,USA,W. BUSH,Slovenia,Kranj,2001-06-16,2001-06-16,Met with Prime Minister Drnovsek and Russian P...,-,NaN,NaN
4,USA,W. BUSH,United Kingdom,"London, Chequers, Halton, Brize Norton",2001-07-18,2001-07-20,Met with Prime Minister Blain and Queen Elizab...,30,83,NaN

In [40]:
df["President"].value_counts()

W. BUSH    35
OBAMA      25
TRUMP      22
Name: President, dtype: int64

In [41]:
df.dtypes

Country of president            object
President                       object
Location country                object
Location city                   object
Date start              datetime64[ns]
Date end                datetime64[ns]
Subject                         object
President popularity            object
US favourability                object
Unnamed: 9                      object
dtype: object

In [42]:
df["trip_length"] = df.apply(lambda x: x["Date end"] - x["Date start"] + dt.timedelta(days=1), axis=1)

In [43]:
df[df["trip_length"] > dt.timedelta(days=0)].groupby("President")["trip_length"].sum()

President
OBAMA     528 days
TRUMP     368 days
W. BUSH   233 days
Name: trip_length, dtype: timedelta64[ns]

In [44]:
df[
    (df["trip_length"] < dt.timedelta(days=0)) |
    (df["trip_length"] > dt.timedelta(days=10))
].shape

(28, 11)

In [48]:
df1=pd.read_csv('USA_trips.csv', parse_dates=["Date start", "Date end"])

In [49]:
df1.head()

,Country of president,President,Location country,Location city,Date start,Date end,Subject,President popularity,US favourability,Unnamed: 9
0,USA,W. BUSH,Mexico,San Cristobal,2001-02-16,2001-02-16,Meeting with President Fox.,-,68,NaN
1,USA,W. BUSH,Spain,Madrid,2001-06-12,2001-06-13,Met with King Juan Carlos I and President Aznar.,-,50,NaN
2,USA,W. BUSH,Poland,Warsaw,2001-06-15,2001-06-16,State visit.,-,86,NaN
3,USA,W. BUSH,Slovenia,Kranj,2001-06-16,2001-06-16,Met with Prime Minister Drnovsek and Russian P...,-,NaN,NaN
4,USA,W. BUSH,United Kingdom,"London, Chequers, Halton, Brize Norton",2001-07-18,2001-07-20,Met with Prime Minister Blain and Queen Elizab...,30,83,NaN

In [50]:
df["trip_length"] = df.apply(lambda x: x["Date end"] - x["Date start"] + dt.timedelta(days=1), axis=1)

In [51]:
df[df["trip_length"] > dt.timedelta(days=0)].groupby("President")["trip_length"].sum()

President
OBAMA     55 days
TRUMP     48 days
W. BUSH   63 days
Name: trip_length, dtype: timedelta64[ns]

In [52]:
df[
    (df["trip_length"] < dt.timedelta(days=0)) |
    (df["trip_length"] > dt.timedelta(days=10))
].shape

(0, 11)