In [1]:
import pandas as pd
import geopandas as gp
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df=pd.read_csv("USA presidential trips.csv")

In [7]:
df.head()

,Country of president,President,Location country,Location city,Date start,Date end,Subject,President popularity,US favourability,Unnamed: 9
0,USA,W. BUSH,Mexico,San Cristobal,16.2.2001,16.2.2001,Meeting with President Fox.,-,68,NaN
1,USA,W. BUSH,Spain,Madrid,12.6.2001,13.6.2001,Met with King Juan Carlos I and President Aznar.,-,50,NaN
2,USA,W. BUSH,Poland,Warsaw,15.6.2001,16.6.2001,State visit.,-,86,NaN
3,USA,W. BUSH,Slovenia,Kranj,16.6.2001,16.6.2001,Met with Prime Minister Drnovsek and Russian P...,-,NaN,NaN
4,USA,W. BUSH,United Kingdom,"London, Chequers, Halton, Brize Norton",18.7.2001,20.7.2001,Met with Prime Minister Blain and Queen Elizab...,30,83,NaN

In [8]:
df["President"].value_counts()

W. BUSH    35
OBAMA      25
TRUMP      22
Name: President, dtype: int64